#table_previous {
    background-color: #aa61ea;
    color: white;
    padding: 10px 30px;
}
#table_next {
    background-color: #aa61ea;
    color: white;
    padding: 10px 30px;
}
#table_filter input{
    background-color: transparent;
    border: 4px solide;
    border-color: black;
    width: 290px;
}
#table_filter label{
    font-family: Apple;
    font-weight: bold;
}
#table_length select{
    background-color: transparent;
    border: 4px solide;
    border-color: black;
    width: 80px
}

#table_length label{
    font-family: Apple;
    font-weight: bold;
}
